<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/basic.css">
    <link rel="icon" href="../static/images/icons/datego.png">


    <title>Accueil</title>
</head>
<body>
    <nav class="sidebar">
        <div class="logo"><a href="/">
            <img src="../static/images/icons/normal/datego.png" alt="logo" class="icon-normal">
            <img src="../static/images/icons/dark/datego.png" alt="logo" class="icon-dark">
        </a></div>
        <div class="menu">
            <div class="redirect user"><a href="/connect">
                <img src="../static/images/icons/normal/user.png" alt="user" class="icon-normal">
                <img src="../static/images/icons/dark/user.png" alt="user" class="icon-dark">
            </a></div>
            <div class="redirect forum"><a href="/forum">
                <img src="../static/images/icons/normal/forum.png" alt="forum" class="icon-normal">
                <img src="../static/images/icons/dark/forum.png" alt="forum" class="icon-dark">
            </a></div>
            <div class="redirect settings">
                <img src="../static/images/icons/normal/settings.png" alt="settings" class="icon-normal">
                <img src="../static/images/icons/dark/settings.png" alt="settings" class="icon-dark">
            </div>
            <div class="theme" onclick="changeTheme()">
                <div class="selector">
                    <img src="../static/images/icons/normal/sun.gif" alt="moon" class="icon-normal">
                    <img src="../static/images/icons/dark/moon.gif" alt="moon" class="icon-dark">
                </div>
            </div>
        </div>
    </nav>
    <div class="main">
        <nav class="navbar">
            <div class="searchbar">
                <input type="text" name="search" id="search" placeholder="Rechercher">
                <img src="../static/images/icons/normal/search.png" alt="search" class="icon-normal">
                <img src="../static/images/icons/dark/search.png" alt="search" class="icon-dark">
            </div>
            <div class="open-modal bell">
                <img src="../static/images/icons/normal/notification.png" alt="bell" class="icon-normal">
                <img src="../static/images/icons/dark/notification.png" alt="bell" class="icon-dark">
            </div>
        </nav>
        <div class="body">

        </div>
    </div>

    <script src="../static/js/themeChanger.js"></script>
</body>
</html>