<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/basic.css">
    <link rel="stylesheet" href="../static/css/connect.css">
    <link rel="icon" href="../static/images/icons/datego.png">


    <title>Accueil</title>
</head>
<body>
    <nav class="sidebar">
        <div class="logo"><a href="/">
            <img src="../static/images/icons/normal/datego.png" alt="logo" class="icon-normal">
            <img src="../static/images/icons/dark/datego.png" alt="logo" class="icon-dark">
        </a></div>
        <div class="menu">
            <div class="redirect user"><a href="/connect">
                <img src="../static/images/icons/normal/user.png" alt="user" class="icon-normal">
                <img src="../static/images/icons/dark/user.png" alt="user" class="icon-dark">
            </a></div>
            <div class="redirect forum"><a href="/forum">
                <img src="../static/images/icons/normal/forum.png" alt="forum" class="icon-normal">
                <img src="../static/images/icons/dark/forum.png" alt="forum" class="icon-dark">
            </a></div>
            <div class="redirect settings">
                <img src="../static/images/icons/normal/settings.png" alt="settings" class="icon-normal">
                <img src="../static/images/icons/dark/settings.png" alt="settings" class="icon-dark">
            </div>
            <div class="theme" onclick="changeTheme()">
                <div class="selector">
                    <img src="../static/images/icons/normal/sun.gif" alt="moon" class="icon-normal">
                    <img src="../static/images/icons/dark/moon.gif" alt="moon" class="icon-dark">
                </div>
            </div>
        </div>
    </nav>
    <div class="main">
        <div class="body">
            
            <div class="container" id="container">
                <div class="form-container sign-up">
                    <form>
                        <h1>Create Account</h1>
                        <div class="social-icons">
                            <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                        <span>or use your email for registeration</span>
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Password">
                        <button>Sign Up</button>
                    </form>
                </div>
                <div class="form-container sign-in">
                    <form>
                        <h1>Sign In</h1>
                        <div class="social-icons">
                            <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                        <span>or use your email password</span>
                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Password">
                        <a href="#">Forget Your Password?</a>
                        <button>Sign In</button>
                    </form>
                </div>
                <div class="toggle-container">
                    <div class="toggle">
                        <div class="toggle-panel toggle-left">
                            <h1>Welcome Back!</h1>
                            <p>Enter your personal details to use all of site features</p>
                            <button class="hidden" id="login">Sign In</button>
                        </div>
                        <div class="toggle-panel toggle-right">
                            <h1>Hello, Friend!</h1>
                            <p>Register with your personal details to use all of site features</p>
                            <button class="hidden" id="register">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
              
        </div>
    </div>

    <script src="../static/js/themeChanger.js"></script>
    <script src="../static/js/lr.js"></script>
</body>
</html>